main h1{
    font-size: 2.5vw;
    margin-bottom: 1vh;
}

main p{
    font-size: 1.2vw;
    margin-bottom: 2vh;
}

main .contactLinks{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    width: 30vw;
    height: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-top: 2vh;
    margin-left: 2vw;
}

.contactLinks li{
    display: flex;
    align-items: center;
}

.contactLinks li a{
    font-size: 1.2vw;
    color: white;
    margin-left: 1vw;
    padding: 0 .5vw; 
}

.contactLinks li a:hover{
    background-color: #575757;
}

li a.active{
    color: #57dc74;
    text-decoration: underline;
}

li img{
    width: 3vw;
    height: 100%;
    object-fit: cover;
}

.invert{
    filter: invert(1);
}