html, body, main{
    height: fit-content;
}

main{
    display: flex;
    flex-direction: column;
}

main ul{
    padding: 0;
}

main section{
    margin: 1vw;
}

section >*:nth-child(2){
    margin-left: 5vw;
}

section div{
    margin-left: 2vw;
}