html, body, main {
    height: fit-content;
    font-family: 'JetBrains Mono', monospace;
    color: #333;
    margin: 0;
    padding: 0;
    line-height: 1.5;
}

main {
    display: flex;
    flex-direction: column;
    padding: 3vw;
}

section {
    background-color: #f6eee3; /* Softer white */
    padding: 2vw;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 2vw;
}

h1, h2, h3 {
    font-weight: 700;
    color: #333;
}

h1 {
    font-size: 3rem;
    margin-bottom: 1.5vh;
}

h2 {
    font-size: 2rem;
    margin-bottom: 1vh;
}

h3 {
    font-size: 1.5rem;
    margin-bottom: 0.5vh;
}

p {
    font-size: 1.1rem;
    color: #555;
    margin: 0.5vh 0;
}

ul {
    list-style-type: none;
    padding-left: 0;
}

ul li {
    margin: 0.5vh 0;
}

ul li strong {
    font-weight: bold;
}

.printButton
{
    width: 5vw;
    height: 2vw;
    align-self: center;
    margin-bottom: 5vh;

    background-color: #57dc74;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    &:hover {
        background-color: #44a859;
        border: #333 1px solid;
    }
}


@media (max-width: 768px) {
    main {
        padding: 5vw 3vw;
    }

    h1 {
        font-size: 2.5rem;
    }

    h2 {
        font-size: 1.8rem;
    }

    h3 {
        font-size: 1.4rem;
    }

    .contactLinks {
        width: 100%;
    }

    .contactLinks li a {
        font-size: 1rem;
    }

    footer p {
        font-size: 0.9rem;
    }

    section{
        margin-bottom: 5vw;
        padding: 5vw;
    }

    .printButton {
        width: 25%;
        height: 5vh;
        font-size: 1.5rem;
    }
}


/* On print */
@media print {
    .navbar {
        display: none;
    }

    .skills{
        margin-top: 6vh;
    }

    .printButton {
        display: none;
    }
}
